.GContainerHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 100px;
    width: 100%;
}

.MContainerHeader {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.divContainerHeader {
    display: flex;
    align-items: center;
    justify-content: start;
    min-width: 400px;
    gap: 10px;
    margin: -12px;

}

.itemDescription {
    line-break: anywhere;
    width: 160px;
    white-space: pre-wrap;
}

.divContainerHeader input {
    font-size: 20px;
    max-width: 160px;
}

.divContainerHeader select {
    height: 40%;
    width: 30%;
}

.buttonUpadate {
    margin-left: auto;
    display: flex;
}

.buttonUpadate button {
    margin-right: 50px;
}